main {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100rem;
  height: 60rem;
  overflow: hidden;

  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  &--new {
    top: 4rem;
  }
  &--roll {
    top: 39.3rem;
  }
  &--hold {
    top: 46.1rem;
  }
}

.modal {
  &-title {
    position: relative;
    font-size: 3.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-bottom: 2.4rem;
    color: #c7365f;
    text-align: center;

    &::first-letter {
      margin-right: 1rem;
    }
  }

  .bold {
    font-family: "Rubik", "Nunito", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .rules {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      li {
        list-style-position: inside;
      }
    }
  }

  .goal,
  .rules {
    margin-bottom: 3.2rem;
  }
}
